
#container {
    height: 650px;
    width: 650px;
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;  
       
    }
    
  h1 {
      text-align: center;
      transform: translate(-0%, 200%);
  }

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butt {
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    align-content: center;
    margin:0  auto;
    display: block;
    justify-content: center;
    bottom:  50%;
    left: 50%;
    transform: translate(-15%, 1450%);

}